.layout {

  // * Variables
  $transition:
    background-color .30s;

  background-color: $colorBackgroundLayout;
  margin-bottom: .4em;
  display: none !important;

  -webkit-animation: fadein .30s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .30s; /* Firefox < 16 */
      -ms-animation: fadein .30s; /* Internet Explorer */
       -o-animation: fadein .30s; /* Opera < 12.1 */
          animation: fadein .30s;

  // ? Set layout box-shadow
  @include setBoxShadow(0 0px 32px rgba(0, 0, 0, 0.07));

  // ? Set visible content
  &.current { display: block !important; }

  // ? Layout Item styles
  &--item {

    // ? Flex
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;

    // ? Other styles
    padding: 1em 1.5em;
    height: 100%;
    width: 100%;

    @include setTransition($transition);

    // ? Item title
    h5 {
      color: #212121;
      font-weight: 500;
      margin: 0;
      padding-bottom: .2em;
    }

    // ? Item summary
    p {
      color: #757575;
      margin: 0;
    }

    // ? Item icon
    &_icon {

      // ? Flex
      align-self: flex-start;

      // ? Other Styles
      order: -1;
      margin-right: 1em;

    }

    // ? Clickable item styles
    &[clickable] {

      cursor: pointer;

      &:active {
        background-color: $colorDivider;
      }

    }

    // ? Category styles
    &_category {
      color: $colorAccent;
      font-weight: 600;
      padding: 1em 1.5em .4em 1.5em;
      margin: 0;
    }

  }



}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
